    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
  body{
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: block;
  font-weight: 100;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #e5c100;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #a08700;
  display: inline-block;

}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}